 
 <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Angular Weather App</title>
 
</head>
<body>


<header>
 
  <nav class="cf " > 
     <h1 class="branding">Weather App</h1>
 
</nav>
</header>
<div class="page">

    <main class="cf ">
      <div class="card">
            
        <weather-search></weather-search>  
     <!-- <div class="card">
         <weather-item></weather-item>  
       </div>--> 
       <div class="card">
        <weather-list></weather-list> 
       </div>
 </div> 
  
     </main>


</div>
</body>
</html>